<h1>User Profile</h1>

<% @user.posts.each do |up| %>
<ul>
  <%= up.message %>
</ul>
<% end %>

<div class="controls">
  <%= link_to 'Edit user', edit_user_path(@user) %>
  <%= button_to 'Delete user', @user, :method => 'delete', :data => { :confirm => 'You sure?'} %>
</div>
