/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.frontpage {
  font-size: 175px;
}

.welcomemsg {
  height: 100px;
  width: 280px;
  font-weight: bold;
  text-transform: uppercase;
}

.col-sm-4 {
  background-color: lightseagreen;
  padding-top: .75rem;
  padding-bottom: .75rem;
  /*border: 1px solid rgba(86,61,124,.2);*/
  height: 20px;
  width: 20px;
}

.signupbutton {
  border-color: #ddd;
  border-radius: 3px;
  /*border: 1px solid black;*/
  height: 10px;
  width: 10px;
  line-height: 120px;
  font-size: 80px;
  display: inline-block;
  margin: 50px;
  text-align: center;
}

.signinbutton {
  border-color: #ddd;
  border-radius: 3px;
  /*border: 1px solid black;*/
  height: 10px;
  width: 10px;
  line-height: 120px;
  font-size: 80px;
  display: inline-block;
  margin: 50px;
  text-align: center;
}

.square {
  height: 70px;
  width: 70px;
}

.container {
  background-color: lightblue;
}

 * {
  margin: 15px 0px 0px 0px;
  /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

nav {
  position: fixed;
  border-bottom: 2px solid black;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  line-height: 3em;
  backface-visibility: hidden;
  background-color: navy;
}

nav a {
  color: white;
  letter-spacing: 1px;
  margin: 20px;
}

.navright {
  text-align: right;
  width: 940px;
  display: inline-block;
}
 .panel-heading {
   background-color: lightsteelblue;
   border-color: lightblue;
   margin: 15px;
 }

 .posts {
   padding-left: 10px;
 }

ul li {
  padding: 0;
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.posts.panel.panel-default {
  /*background-color: #80808061;*/
  width: 500px;
  min-height: 100px;
  border-radius: 4px;
  /*z-index: 100;*/
  /*box-shadow: 5px 5px 2px #888888;*/
  background: transparent;
  border: none;
  padding: 30px;
}

.posts {
    padding-left: 15px;
}

.messagepostbox {
  width: 280px;
  min-height: 100px;
  border-radius: 13px;
  padding: 10px;
  margin: 20px;
  border: 2px solid transparent;
  border-color: #061042;
  font-size: 15px;
  background-color: white;
}

.comment.panel.panel-default {
  /*background-color: #80808061;*/
  width: 230px;
  min-height: 100px;
  border-radius: 4px;
  /*box-shadow: 5px 5px 2px #888888;*/
  padding: 5px;
  margin: 20px;
  font-size: 12px;
  font-style: italic;
}

#comment_note {
  width: 300px;
  height: 40px;
}

.form-control {
  width: 500px;
  height: 100px;
}

#choice {
  display: inline-block;
  position: relative;
}

.submit {
  background: none;
  color: navy;
  margin: 5px;
  font-size: 11px;
  font-weight: bold;
}

.subbut {
  background: none;
  color: navy;
  display: inline-block;
  margin: 5px;
  font-size: 11px;
}

.username {
  float: right;
  padding: 5px;
  margin: 5px;
}

.col-sm-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin: 15px;
  background-color: transparent; /*rgba(86,61,124,.15);*/
  /*border: 1px solid navy;*/
  height: 200px;
  width: 200px;
}

/*rgba(86,61,124,.2);*/
.yo {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0;
}

.logobox {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

hr {
  width:100%;
  height:1px;
  background: #061042;
}

.col-md-5 {
  width: 600px;
}

.controls {
  display: inline-block;
}

.badge {
  margin: 10px;
  background-color: transparent;
}

.thumb {
  height: 300px;
  width: 300px;
  position: relative;
}

h5 {
  font-weight: 900;
  color: navy;
}

.profilepicture {
  margin: 40px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 1px solid lightblue;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 70px;
  margin: 40px 20px 20px 20px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Dosis', sans-serif;
}

.block_2 {
  padding: -3px;
}

.post {
  margin-left: auto;
}

.colourname {
  color: navy;
  font-weight: 900;
}

.profile {
  font-size: 11px;
}


/*.bubble {
  border: 3px solid black;
  border-radius: 30px;
  padding: 15px 20px;
  width: 40%;
  box-shadow: 4px 4px 2px #888;
  margin: 30px;
}*/

/*.verticalline {
  height: 10000000px;
  width: 1px;
  background: #000;
  right: 550px;
  position: absolute;
}*/
